.carousel__title {
  background-color: var(--white);
  color: var(--orange);
  font-weight: 700;
  font-size: 1.125em;
  text-align: center;
  padding: 1.25em 0 .5em 0;
  text-transform: uppercase;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}

.card {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1em;
  margin: 1.5em;
}

.card__description {
  display: flex;
  justify-content: space-between;
  gap: 0.7em;
}

.description__title {
  color: var(--orange);
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 0.6em;
}

.description__title-book {
  color: var(--blue-strong);
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.687em;
  margin-bottom: 0.5em;
}

.description__text {
  font-weight: 400;
  font-size: 0.88em;
  line-height: 1.31em;
  padding-right: 2em;
}

.card__buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons__item {
  margin: 0 .8em;
}

.button-anchor {
  background-color: var(--orange);
  color: var(--white);
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  padding: .75em 2.2em;
}

.stars {
  margin: .6em 0;
}


@media screen and (min-width: 1024px) {
  .carousel__title {
    padding: 2.5em 0 1em 0;
    font-size: 26px;
  }

  .swiper {
    width: 60%;
  }

  .swiper-pagination {
    margin: 2em 0 4em 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 62%;
  }

  .card {
    width: 54%;
    margin: 3.5em auto 2.5em auto;
    padding: 1.5em;
  }

  .description__text {
    font-size: 1em;
    line-height: 1.5em;
    padding-right: 2em;
  }

}


@media screen and (min-width: 1728px) {
  .carousel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    margin: 70px 10vw 100px 10vw;
  }

  .swiper {
    width: 600px;
    margin: 0;
  }

  .swiper-pagination {
    margin-top: 0;
    margin-bottom: 2em;
  }
  
  .swiper-slide {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .description__title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 0;
  }

  .description__title-book {
    font-size: 18px;
  }

  .description__text {
    font-size: 16px;
  }

  .card {
    width: 580px;
    margin: 0;
    margin-top: 42px;
  }

  .card__description {
    gap: 3.9em;
  }
}