.carousel__title {
  background-color: var(--white);
  color: var(--orange);
  font-weight: 700;
  font-size: 1.125em;
  text-align: center;
  padding: 1.25em 0 .5em 0;
  text-transform: uppercase;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}