.top__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url('../assets/Menu.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.top {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.4em 1em;
}

.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1em;
}

.container__button {
  display: none;
}

.container__button:checked ~ .list-menu {
  display: block;
  z-index: 10;
}

.list-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 65vw;
  background-color: var(--white);
  padding: 1.5em 0 0 1.5em;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.list-menu__item {
  padding: 1.2em 0;
  
}

.list-menu__title {
  color: var(--orange);
  font-weight: 700;
  padding-bottom: 1.2em;
}

.list-menu__link {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
  text-decoration: none;
}

