@import url('./header.css');
@import url('./banner.css');
@import url('./carousel.css');
@import url('./topics.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-background: #EBECEE;
  --white: #FFFFFF;
  --orange: #EB9B00;
  --blue-strong: #002F52;
  --blue-medium: #326589;
  --grey: #858585;
  --grey-strong: #474646;
  --black: #000000;
  --blue-gradient: linear-gradient(97.54deg, var(--blue-strong) 35.49%, var(--blue-medium) 165.37%);
  --main-font: 'Poppins', 'sans-serif';
  --secondary-font: 'Josefin Sans', sans-serif;
}

body {
  background-color: var(--color-background);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
}