.topics {
  background: var(--blue-gradient);
  text-align: center;
  padding: 1.5em 0;
}

.topcis__title {
  color: var(--white);
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.5em;
  padding-bottom: 2em;
}

.topics__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.topics__item {
  color: var(--white);
  background-color: var(--orange);
  padding: 1em 1.5em;
  font-weight: 700;
  font-size: .88em;
  line-height: 21px;
}

.topics__link {
  color: var(--white);
  text-decoration: none;
}


@media screen and (min-width: 1024px) {

  .topcis__title {
    line-height: 2.25em;
    font-size: 24px;
    padding-bottom: 1em;
  }

  .topics__item {
    padding: 1.2em 1.5em;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  .topics__list {
    gap: 30px;
  }

}


@media screen and (min-width: 1728px) {
  .topics {
    padding: 64px 74px;
  }

  .topcis__title {
    font-size: 32px;
    line-height: 48px;
  }

  .topics__list {
    width: 36%;
    margin: 0 auto;
  }

}